{%- set has_node = (type == 'node') or (subpackages | selectattr('type', 'equalto', 'node') | list | length > 0) -%}
{%- set has_rust = (type == 'rust') or (subpackages | selectattr('type', 'equalto', 'rust') | list | length > 0) -%}
[tools]
lefthook = "2.1.0"
{%- if has_rust %}
"cargo:ast-grep" = "0.40.5"
{%- endif %}

# lefthook hooks
actionlint = "1.7.10"
{%- if has_node and node_package_manager == 'pnpm' %}
node = "22.14.0"
pnpm = "10.28.2"
{%- else %}
bun = "1.3.8"
{%- endif %}
"cargo:basefmt" = "0.1.0"
{% if type != 'node' -%}
"npm:@commitlint/cli" = "20.4.1"
"npm:prettier" = "3.8.1"
{% endif -%}
shellcheck = "0.11.0"
shfmt = "3.12.0"

{%- if not (has_node and node_package_manager == 'pnpm') %}

[settings]
npm.bun = true
{%- endif %}
