{%- set has_storybook = use_storybook | default(false) -%}
import { config } from '@fohte/eslint-config'
{%- if has_storybook %}
import storybook from 'eslint-plugin-storybook'
{%- endif %}

export default config(
  {
    typescript: { typeChecked: true },
    errorHandling: {},
  },
{%- if has_storybook %}
  ...storybook.configs['flat/recommended'],
{%- endif %}
)
