{%- if is_workspace -%}
{
  "$schema": "https://unpkg.com/knip@6/schema.json",
  "treatConfigHintsAsErrors": true,
  "workspaces": {
    ".": {
      "ignoreDependencies": ["@commitlint/cli"]{{ "," if (is_public or has_spa_pkg) else "" }}
{%- if is_public %}
      "ignore": ["commitlint-plugin-no-external-refs.cjs"]{{ "," if has_spa_pkg else "" }}
{%- endif %}
{%- if has_spa_pkg %}
      "ignoreBinaries": ["playwright"]
{%- endif %}
    }{{ "," if spa_pkgs else "" }}
{%- for pkg in spa_pkgs %}
    "{{ pkg.name }}": {
      "entry": ["src/lib/**"]{{ "," if pkg.vrt | default(false) else "" }}
{%- if pkg.vrt | default(false) %}
      "ignoreDependencies": ["reg-suit", "reg-publish-s3-plugin", "reg-simple-keygen-plugin"]
{%- endif %}
    }{{ "," if not loop.last else "" }}
{%- endfor %}
  }
}
{%- else -%}
{
  "$schema": "https://unpkg.com/knip@6/schema.json",
  "treatConfigHintsAsErrors": true,
  "ignoreDependencies": ["@commitlint/cli"]{{ "," if is_public else "" }}
{%- if is_public %}
  "ignore": ["commitlint-plugin-no-external-refs.cjs"]
{%- endif %}
}
{%- endif %}
