remotes:
  - git_url: https://github.com/fohte/lefthook-config.git
    ref: v0.1.14 # renovate: datasource=github-tags depName=fohte/lefthook-config
    configs:
      - base.yml
{%- if type == 'rust' and not subpackages %}
      - rust.yml

pre-commit:
  commands:
    ast-grep:
      glob: '*.rs'
      run: ast-grep scan --rule .sg/rules/no-assert-contains.yml {staged_files}
{%- endif %}
{%- if subpackages | selectattr('type', 'equalto', 'rust') | list | length > 0 %}

pre-commit:
  commands:
{%- for pkg in subpackages %}
{%- if pkg.type == 'rust' %}
    cargo-fmt-{{ pkg.name }}:
      root: '{{ pkg.name }}/'
      glob: '{{ pkg.name }}/**/*.rs'
      run: cargo fmt -- {staged_files} && git add {staged_files}
    cargo-clippy-{{ pkg.name }}:
      root: '{{ pkg.name }}/'
      glob: '{{ pkg.name }}/**/*.rs'
      run: cargo clippy -- -D warnings
{%- endif %}
{%- endfor %}
{%- endif %}
