remotes:
  - git_url: https://github.com/fohte/lefthook-config.git
    ref: v0.1.14 # renovate: datasource=github-tags depName=fohte/lefthook-config
    configs:
      - base.yml
{%- set rust_pkgs = subpackages | selectattr('type', 'equalto', 'rust') | list %}
{%- if type == 'rust' or rust_pkgs | length > 0 %}
      - rust.yml

pre-commit:
  commands:
    ast-grep:
      glob: '*.rs'
      run: ast-grep scan {staged_files}
{%- if rust_pkgs | length > 0 %}
    cargo-fmt:
      root: '{{ rust_pkgs[0].name }}/'
    cargo-clippy:
      root: '{{ rust_pkgs[0].name }}/'
{%- endif %}
{%- endif %}
