{
  $schema: 'https://docs.renovatebot.com/renovate-schema.json',
{% if subpackages %}
  {% set types = subpackages | map(attribute='type') | reject('equalto', 'base') | unique | sort | list %}
  extends: [
    'github>fohte/renovate-config:base.json5',
  {% for t in types %}
    'github>fohte/renovate-config:{{ t }}.json5',
  {% endfor %}
  ],
{% elif type == 'node' %}  extends: [
    'github>fohte/renovate-config:base.json5',
    'github>fohte/renovate-config:node.json5',
  ],
{% elif type == 'rust' %}  extends: [
    'github>fohte/renovate-config:base.json5',
    'github>fohte/renovate-config:rust.json5',
  ],
{% else %}  extends: ['github>fohte/renovate-config:base.json5'],
{% endif %}}
