[env]
DATABASE_URL = "{% raw %}{{ exec(command=config_root ~ '/../scripts/db-url {% endraw %}{{ pkg.name }}{% raw %} dev') }}{% endraw %}"
TEST_DATABASE_URL = "{% raw %}{{ exec(command=config_root ~ '/../scripts/db-url {% endraw %}{{ pkg.name }}{% raw %} test') }}{% endraw %}"
_.file = ['.env', '.env.local']
