# {{ _folder_name }}

This repository was created from [generic-boilerplate](https://github.com/fohte/generic-boilerplate).

## Template updates

This repository can receive updates from the template via [Copier](https://copier.readthedocs.io/).

### Manual update

```bash
copier update
```

### Automated updates

[Renovate](https://docs.renovatebot.com/modules/manager/copier/) automatically creates PRs when the template is updated (if `copier.enabled` is set in `renovate.json5`).
