import type { StorybookConfig } from '@storybook/react-vite'

const config: StorybookConfig = {
  stories: ['../src/**/*.stories.@(ts|tsx)'],
{%- if pkg is defined or not root_storybook %}
  staticDirs: ['../public'],
{%- endif %}
  framework: '@storybook/react-vite',
  addons: [
    '@storybook/addon-docs',
    '@storybook/addon-themes',
    '@storybook/addon-vitest',
    '@fohte/storybook-addon',
  ],
}

export default config
