issuer: https://token.actions.githubusercontent.com
subject_pattern: ^repo:fohte@{{ owner_id }}/{{ project_name }}@{{ repo_id }}:ref:refs/heads/.+$
claim_pattern:
  job_workflow_ref: ^fohte/{{ project_name }}/\.github/workflows/bootstrap\.yml@[^@]+$
permissions:
  contents: write
