{#- Slugify: lowercase, replace _ and / with -, remove @ -#}
{%- macro slug(name) %}{{ name | replace('_', '-') | replace('@', '') | replace('/', '-') | lower }}{% endmacro -%}
name: VRT approval

on:
  pull_request:
    types: [synchronize, labeled]

jobs:
{%- for pkg in vrt_pkgs %}
  vrt-approval-{{ slug(pkg.name) }}:
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    uses: fohte/storybook-vrt-workflows/.github/workflows/vrt-approval.yml@d466efc41e02b5ab567585915565d27b042d871b # v0.1.3
    with:
      r2-bucket: {{ slug(project_name) }}-vrt
{%- endfor %}
