{#- Slugify: lowercase, replace _ and / with -, remove @ -#}
{%- macro slug(name) %}{{ name | replace('_', '-') | replace('@', '') | replace('/', '-') | lower }}{% endmacro -%}
{%- macro root_vrt_slug(name) -%}
{{- slug(name | replace('.', '-')) if not root_storybook else slug(name) -}}
{%- endmacro -%}
name: VRT approval

on:
  pull_request:
    types: [synchronize, labeled]

jobs:
{%- if root_vrt %}
  vrt-approval-root:
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    uses: fohte/storybook-vrt-workflows/.github/workflows/vrt-approval.yml@691148d6e8e53b86c8f93b5b54cadbd8308b06d3 # v0.1.6
    with:
      r2-bucket: {{ root_vrt_slug(project_name) }}-vrt
{%- endif %}
{%- for pkg in vrt_pkgs %}
  vrt-approval-{{ slug(pkg.name) }}:
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    uses: fohte/storybook-vrt-workflows/.github/workflows/vrt-approval.yml@691148d6e8e53b86c8f93b5b54cadbd8308b06d3 # v0.1.6
    with:
      r2-bucket: {{ slug(project_name) }}-vrt
{%- endfor %}
