{%- set has_storybook = pkg.storybook | default(false) -%}
{
  "extends": [
    "@tsconfig/node-lts/tsconfig.json",
    "@tsconfig/strictest/tsconfig.json"
  ],
{%- if has_storybook %}
  "include": ["**/*", ".storybook/**/*"],
{%- endif %}
  "exclude": ["**/*.cjs"],
  "compilerOptions": {
    "module": "preserve",
    "moduleResolution": "bundler",
    "noEmit": true,
    "paths": {
      "@/*": ["./src/*"]
    }
  }
}
