{%- set pkg_has_spa = pkg.spa | default(false) -%}
{
  "extends": [
    "@tsconfig/node-lts/tsconfig.json",
    "@tsconfig/strictest/tsconfig.json"
  ],
{%- if pkg_has_spa %}
  "include": ["**/*", ".storybook/**/*"],
{%- endif %}
  "exclude": ["**/*.cjs"],
  "compilerOptions": {
    "module": "preserve",
    "moduleResolution": "bundler",
    "noEmit": true
  }
}
