{%- set pkg_has_spa = pkg.spa | default(false) -%}
import { config } from '@fohte/eslint-config'
{%- if pkg_has_spa %}
import storybook from 'eslint-plugin-storybook'
{%- endif %}

export default config(
  {
    typescript: { typeChecked: true },
    errorHandling: {},
  },
{%- if pkg_has_spa %}
  ...storybook.configs['flat/recommended'],
{%- endif %}
)
