name: Test

on:
  push:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: jdx/mise-action@v2

      - name: Run lefthook
        id: lefthook
        continue-on-error: true
        run: lefthook run pre-commit --all-files

      - name: Commit formatted files
        uses: suzuki-shunsuke/commit-action@v0.0.14
        with:
          commit_message: 'style: auto-format'
          workflow: deny
          github_token: ${{ steps.app-token.outputs.token }}

      - name: Fail if lefthook failed
        if: steps.lefthook.conclusion == 'failure'
        run: exit 1
